<ng-container *ngIf="!isLoading">
  <h1>Notre boutique possède actuellement {{computers.length}} produits.</h1>
  <h2>Cliquez sur l'un d'entre eux pour le voir plus en détail.</h2>
  <table class="table">

    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Modèle</th>
      <th scope="col">Détails</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let computer of computers">
      <th scope="row">{{computer.id}}</th>
      <td>{{computer.model}}</td>
      <td><a>En savoir plus</a></td>
    </tr>
    </tbody>
  </table>
</ng-container>
